[2017-10-15 13:02] fabiand opened #5 "Add node affinity"
Add node anti-/affinity to the docs.

[2018-01-17 15:57] #5 closed

[2018-03-07 10:39] fabiand opened #33 "Add a "What to use when" section"
Let's add a section which is focusing on the what do I have to use to solve a problem view on things.

[2018-03-08 14:55] fabiand opened #34 "Don't use registryDisks with devel tag"
Some examples zuse registry disks with devel tag, but these disks are not publicly available.

[2018-03-08 15:03] rmohr commented on #34
That works as intended. They are supposed to work with in-repo content, and not published one.

[2018-03-08 15:06] rmohr commented on #34
Sorry my mistake it's the `user-gide` repo here.

[2018-03-08 15:09] #34 closed

[2018-04-03 12:16] fabiand opened #44 "Move to asciidoc"
Reasoning is that asciidoc hsa some more primitves to generate a good user-guide, i.e. emblems for warnings etc

[2018-04-05 10:00] fabiand commented on #44
Well - Just a week ago, gitbook moved to it's new implementation, and they dropped asciidoc support.

I'll need to evaluate to see how to proceed.

[2018-04-26 14:07] fabiand opened #57 "NodePort example is confusing"
The NodePort example is mentioning a couple of ports and is confusing to understand.

It should be more straight forward to udnerstand.

[2018-05-08 23:21] fabiand opened #64 "Example is outdated"
The creation example is invalid and outdated:

http://www.kubevirt.io/user-guide/#/workloads/virtual-machines/creation

It's using the iscsi volume which is not present anymore.

[2018-05-16 16:22] yuvalif opened #68 "add virtctl expose documentation"
since there is no central place where `virtctl` is documented, will add under: VM exposure, and under OVM and VMRS sections

[2018-05-23 11:49] #44 closed

[2018-06-06 13:30] gouyang opened #73 "'kubevirt.io/registry-disk-v1alpha' should be `kubevirt/registry-disk-v1alpha' in registryDisk Workflow Example"

[2018-06-08 10:02] rmohr opened #76 "Better describe controller and workload flow"
Follow up on https://github.com/kubevirt/kubevirt/issues/1112.

It is not obvious for everyone how k8s objects work and also not how exactly **our** workload and our controllers tie in there. Let's add more detailed descriptions, including links to the official k8s documentation where we align with k8s.

[2018-06-08 10:02] rmohr commented on #76
@jniederm FYI

[2018-06-08 10:03] #73 closed

[2018-06-08 22:31] fabiand opened #79 "Add note about CRIO"
Currently KuebVirt can ~not~ run on the CRIO runtime.

We should mention this.

[2018-06-10 11:42] fabiand opened #80 "Describe how virtctl expose works behind the scenes"

[2018-06-11 06:55] #64 closed

[2018-06-21 09:05] rmohr opened #91 "At least to me the networking documentation is hard to follow"
from https://github.com/kubevirt/user-guide/pull/89#issuecomment-399029970

[2018-06-21 09:50] fabiand commented on #91
I totally agree. The networking do is structural wise not so good.

Technically the problem s that we have three components: frontend, connection, backend.

This makes the current situation so bad.

But we can probably flatten this by mentioning the relevant connection times in the context of frontend, then we again only have frontends and backends, which should allow us to follow the disk pattern

[2018-06-21 13:48] booxter commented on #91
@rmohr Agreed. About examples, how do we guarantee they are valid / still working as we move forward? Maybe we could consume them from kubevirt repo (cluster/examples/?) and allow validations to happen against each of examples. What do you think?

[2018-06-21 14:02] fabiand commented on #91
Technically this works with docsify.

An exampe is here:
https://github.com/kubevirt/user-guide/pull/92

Gotot th evirtual machines section to see bar and an inline external yaml file.

[2018-06-21 14:15] rmohr commented on #91
Anything that helps to keep them valid is great. I did not have a clear picture in my mind on how to do that. If you have ideas go ahead! :+1:

[2018-06-21 17:19] booxter commented on #91
Please assign me to the issue (or give me access to the action). I will look into this during / after macAddress work.

[2018-06-25 16:03] nellyc opened #93 "VM tempalte missing field & param"
workloads/templates/vm-creation.md seems to be missing:
1. running: false
2. ${{MEMORY}} appears as a parameter which should be passed, but its not defined in the parameters section

[2018-07-03 09:48] fabiand opened #97 "Document watchdog device usage"
VMIs can have a watchdog.

This issue is about adding documentation for the watchdog device.

The test case can be used for reference:
- https://github.com/kubevirt/kubevirt/blob/master/tests/utils.go#L965
- https://github.com/kubevirt/kubevirt/blob/master/tests/vmi_monitoring_test.go#L56

[2018-07-03 13:38] fabiand opened #98 "Installation should hint on tuned profile"
For better performance a host should be configured with the "tuned profile latency-performance`.

[2018-07-03 15:21] fabiand opened #99 "Add update for CPU model"
The user guide should note how the cpou model can be set and it's default

[2018-07-06 18:39] #91 closed

[2018-07-20 11:51] #57 closed

[2018-07-20 11:52] stu-gott commented on #57
Issue no longer applies.

[2018-09-24 11:46] rmohr opened #123 "Document hostDisks"
`hostDisk` is not yet documented at https://kubevirt.io/user-guide/#/workloads/virtual-machines/disks-and-volumes?id=volumes

[2018-09-24 11:47] rmohr commented on #123
@mfranczy could you have a look?

[2018-09-24 12:04] mfranczy commented on #123
@rmohr true! Of course, I will take care of it.

[2018-09-24 12:08] mfranczy commented on #123
/assign-to @mfranczy

[2018-10-02 12:44] fabiand opened #126 "Document Windows service resolution"
From https://github.com/kubevirt/kubevirt/issues/906#issuecomment-382652448

Conclusion for the moment:

    Inside Windows guests, the full FQDN must be used to resolve cluster services
    Windows does not support search domains via DHCP

Because windows diverges from Linux we should document it.

[2018-10-03 21:05] jtudelag opened #128 "kube-virt configMap should be "debug.useEmulation=true" instead of "debug.allowEmulation=true""
Must be changed here: https://github.com/kubevirt/user-guide/tree/master/installation

[2018-10-04 08:53] rmohr commented on #128
@jtudelag thanks for reporting.

[2018-10-04 08:53] #128 closed

[2018-10-07 05:45] yuvalif commented on #68
/close

[2018-10-07 05:45] #68 closed

[2018-10-18 12:44] mfranczy commented on #123
Finally I created a PR https://github.com/kubevirt/user-guide/pull/131/files

[2018-10-19 13:16] mfranczy commented on #123
PR is merged, we can close the issue (I don't have perms to do that)

[2018-11-05 11:29] fabiand commented on #98
Noted in #1023, closing this one.

[2018-11-05 11:29] #98 closed

[2018-11-05 11:30] fabiand commented on #97
Not needed, it's not selectable anymore

[2018-11-05 11:30] #97 closed

[2018-11-05 11:55] fabiand commented on #79
CRIO is mentioned in the user-guide.

/close

[2018-11-05 11:56] #79 closed

[2018-12-02 11:31] phoracek opened #164 "Describe how to write custom hook"
We need to write a hook developer guide.

Currently there is only hook protocol description https://github.com/kubevirt/kubevirt/blob/master/pkg/hooks/v1alpha1/api.proto and an example hook https://github.com/kubevirt/kubevirt/tree/master/cmd/example-hook-sidecar.

[2018-12-04 09:43] #33 closed

[2018-12-04 11:43] #76 closed

[2018-12-04 11:43] #80 closed

[2018-12-04 13:43] #93 closed

[2018-12-07 13:39] j-griffith opened #168 "Missing required status field in datavolume example"
The example provided in the DataVolume section results in an error if you try and use it as written:

[code]
The field definition in the Kubevirt code dos not provide the omitempty tag, so this is a required field for this object.

[2018-12-07 13:52] j-griffith opened #170 "Links under Volumes section are invalid"
In the disks-and-volumes guide there is a Volumes section with links to the different types of volumes (cloudInitNoCloud, etc); unfortunately clicking these links in the guide result in a 404 error.

[2018-12-12 10:21] tripledes opened #172 "Metrics for OpenShift section don't seem to work"
Section URL: https://kubevirt.io/user-guide/#/misc/monitoring?id=integrating-with-the-openshift-cluster-monitoring-operator

While the Kubernetes section works without any issue, the integration for OpenShift is not clear. I've done few tests with different settings and nothing really seems to work.

* Created the `ServiceMonitor` shown in the Kubernetes section within the `openshift-monitoring` n

[2018-12-13 13:17] fabiand opened #175 "Add static page generation"
We did not have static pages for quite a while.

With #174 we moved to asciidoc.
Now it's a small gap to add static page generation for this content.

[2018-12-13 14:39] fabiand commented on #172
@fromanirh any idea?

[2018-12-13 14:39] fabiand commented on #170
I think this was fixed

[2018-12-13 14:39] #170 closed

[2018-12-13 15:16] j-griffith commented on #168
Fix merged here:
[#169](https://github.com/kubevirt/user-guide/pull/169)

[2018-12-13 15:16] #168 closed

[2018-12-13 15:17] j-griffith commented on #170
Yep, for historical purposes: [#171](https://github.com/kubevirt/user-guide/pull/171)

[2018-12-13 15:22] fromanirh commented on #172
hey there. @tripledes , which steps have you followed to set up the monitoring? just the kubevirt user guide?

[2018-12-13 16:06] tripledes commented on #172
hey @fromanirh, so I deployed the cluster monitoring operator during installation of the OCP cluster and then used the KubeVirt user guide.

[2018-12-13 19:06] bastichelaar opened #179 "kubevirt.io/user-guide gives 404"
The documentation link (https://kubevirt.io/user-guide) which is linked from the homepage seems to give a 404.

[2018-12-13 19:07] bastichelaar commented on #179
Apparently it should be /docs.

[2018-12-14 10:35] fromanirh commented on #172
@tripledes ok, I need to review my notes. What you have here rings a bell, but can't pinpoint it. Due to upcoming holidays it could take a while, however.

[2018-12-14 14:23] tripledes commented on #172
Thanks @fromanirh

[2019-02-17 21:49] rmohr commented on #123
/close

Fixed in #131

[2019-02-17 21:49] #123 closed

[2019-02-19 15:57] rmohr opened #206 "Anchors don't work on our user-guide"
See for instances https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#emptyDisk.

@fabiand who would be the one to fix this?

[2019-02-19 15:57] rmohr commented on #206
/bug

[2019-02-19 15:57] rmohr commented on #206
/type bug

[2019-02-20 15:42] alexxa opened #207 "capitals in a volume name"
If to follow yaml [1, 2], VM fails to start with an error:

`Generated from virtualmachine-controller
4 times in the last 31 minutes
(combined from similar events): Error creating pod: Pod "virt-launcher-cnv-vm-wind-pvc-9x5wc" is invalid: spec.containers[0].name: Invalid value: "volumevirtioContainerDisk": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start a

[2019-02-20 15:50] alexxa commented on #207
and there is a missing space in line: https://github.com/petrkotas/user-guide/blame/extend-virtio-win-info/creating-virtual-machines/virtio-win.adoc#L133

[2019-02-27 12:00] rmohr commented on #207
/cc @petrkotas

Please have a look.

[2019-02-27 12:03] rmohr commented on #172
@fromanirh thanks for looking into that. Any conclusions so far?

[2019-02-27 12:06] fromanirh commented on #172
We also had discussions in the mailing lists. Turns out that in openshift 3.11, additional ServiceMonitors are just ignored, and there is no workaround. AFAICT, we need to wait for openshift 4.0. At that point, a couple of new annotations should be sufficient to let the openshift prometheus operator pick up them.

[2019-02-27 12:21] fromanirh commented on #172
for the sake of the completeness, there is a hack to pretend to be node_exporters and to plug in the existing openshift 3.11 configuration

https://github.com/fromanirh/kubevirt-metrics-collector#hack-deploy-on-kubevirt-running-on-okd-faking-node-exporter

But I don't think kubevirt should go in this direction, not even temporarily.

[2019-02-28 08:45] petrkotas commented on #207
Provided patch in #210 .

[2019-03-01 14:32] #126 closed

[2019-03-05 13:15] tripledes opened #214 "Changelog is not being updated"
[Changelog](https://kubevirt.io/user-guide/docs/latest/release-notes/changelog.html) last entry is still 0.11.0.

[2019-03-13 14:50] fabiand commented on #175
This is done

/close

[2019-03-13 14:50] #175 closed

[2019-03-14 10:24] bastichelaar commented on #179
Seems fixed.

[2019-03-14 10:24] #179 closed

[2019-03-19 09:06] #207 closed

[2019-03-26 12:52] fabiand commented on #214
I suppose we should just add automation to run https://github.com/kubevirt/user-guide/blob/master/release-notes/update_changelog.sh regularly.

[2019-03-26 12:52] fabiand commented on #214
@tripledes something you want to handle?

[2019-03-26 14:12] tripledes commented on #214
Thanks @fabiand I'll have a look.

[2019-04-17 16:54] #214 closed

[2019-04-30 16:00] olberger opened #241 "Latest release needs update to 0.16 in release notes"
https://kubevirt.io/user-guide/docs/latest/release-notes/changelog.html mentions 0.15.0 whereas 0.16.0 is out...

Hope this helps

[2019-04-30 16:12] olberger opened #242 "Instruct users to install latest stable releas instead of fixed (old) version ?"
https://kubevirt.io/user-guide/docs/latest/administration/intro.html contains "RELEASE=v0.14.0" or "VERSION=v0.14.0"... which tend to be obsoleted by new releases.

May I suggest something like referring to the latest issued release, for instance:
[code]
Hope this helps,

[2019-04-30 23:28] olberger opened #243 "Potential misleading cloudInitNoCloud/networkData example in startup scripts"
I've been trying to replicate a cloud-init config for a VMI following:
https://github.com/kubevirt/user-guide/blob/master/creating-virtual-machines/startup-scripts.adoc#cloud-init-network-config-as-clear-text

From my experience, it seems that the Ubuntu 18.04 cloud-init wouldn't like:
[code]
But that one worked:
[code]
I have the impression that networkData: shouldn't contain a network entry.

Th

[2019-05-27 12:18] slintes commented on #206
/remove-lifecycle stale

[2019-05-27 12:38] #206 closed

[2019-06-06 07:18] fedepaol opened #253 "Broken links"
While going through the docs, I found a couple of broken links, probably because the whole tree got reorganized:

##### architecture/virtualmachine.html :
- Link to "Run Strategies": `can be found in Run Strategies`
- Link to "Expose Services": `Exposing VirtualMachineInstance`

##### creating-virtual-machines/intro.html:
All the links at the bottom of the page:
- Link to volumes: `More informatio

[2019-06-19 08:52] rmohr opened #259 "We don't have docs based on release versions"
/kind bug

It is hard to determine if specific features exist in a kubevirt version `X`.

[2019-07-27 13:46] #172 closed

[2019-07-30 04:59] kshithijiyer opened #268 "Project missing LICENSE file"

[2019-07-30 05:00] kshithijiyer opened #269 "Project missing README.md file"

[2019-08-13 12:07] iranzo commented on #253
This probably should have been closed with the merge of #254 , tagging @fabiand as he worked on the PR

[2019-08-13 13:15] fabiand commented on #253
PRs to fix the links are welcome

[2019-08-13 13:23] iranzo commented on #253
I meant that as the PR created by fedepaol was merged, this issue should be closed, isn't it?

[2019-08-13 13:31] fabiand commented on #253
Oh Yes, please go ahead to close it

[2019-08-13 13:42] iranzo commented on #253
I don't have permissions on this repo :-) but just stumbled upon this one :)

[2019-08-13 13:47] fabiand commented on #253
Now you have!

[2019-08-13 13:47] #253 closed

[2019-08-14 15:45] iranzo opened #276 "Upgrade docs state N-1 to N"
We should *STATE* that only N-1 to N is supported in big red bold text :)

https://kubevirt.io/user-guide/docs/latest/administration/intro.html#update

[2019-08-14 15:49] iranzo commented on #276
/kind bug

[2019-08-19 06:10] tylerauerbeck opened #279 "Latest docs still reference v0.17.0"
Do the latest docs still intentionally reference v0.17.0? Or should these references continue to change as newer versions of Kubevirt are released?

[2019-08-19 06:16] tylerauerbeck opened #280 "Is privileged SCC still necessary?"
In the intro/installation docs.. it mentions having to need the the privileged SCC in order to run on Openshift:

[code]

Is this still necessary as of v0.20.0 (as I believe it mentions creating specific SCC's now versus requiring privileged)? Should this note be removed or updated to say it only needs this as of < v0.20.0?

[2019-09-17 10:46] rmohr commented on #259
/remove-lifecycle stale

[2019-09-18 07:11] #276 closed

[2019-09-23 15:31] iranzo opened #294 "Ascii_binder is no longer used by fedora docs, should we continue with it?"
Hi, based on the pr for #259 at #292 , I got this answer:

https://github.com/redhataccess/ascii_binder/issues/152#issuecomment-534061567

Seems that Fedora Doc (which was working on ascii_binder before) is now using 'Antora' (https://docs.antora.org/antora/2.1/install/install-antora/)

Should we consider it instead 'too' ?

[2019-09-27 18:18] #241 closed

[2019-09-27 18:18] #242 closed

[2019-09-28 01:25] #243 closed

[2019-10-06 21:35] saphoooo opened #295 "exposing VMI looks broken"
KubeVirt version v0.20.1
Kubernetes version 1.16.1

[code]

But on the node, with its private ip, ssh works fine:

[code]

[2019-10-07 07:12] saphoooo commented on #295
It's not obvious in the documentation, but when creating the vmi through the vm, the label needs to be on the template:

[code]

This way, the pod and the vmi have the label, and exposing works as expected.

[2019-10-07 07:12] #295 closed

[2019-10-24 08:42] rmohr opened #297 "With the switch to asciidoc, search capabilities were removed"
I use the user-guide very often to point people to examples and explanations. However, since the search box disappeared, even I can't find anything. I normally then go to the github repo and use the github search to find the page.

We should add a search box.

/kind enhancement

[2019-10-24 11:26] slintes commented on #164
I think we still need this :)

/reopen

[2019-10-24 11:26] slintes commented on #164
/remove-lifecycle rotten

[2019-11-08 03:37] leslie-wang opened #298 "API Reference link broken"
**What happened**:  API Reference at home page seems broken.

**What you expected to happen**: It points to correct link, and I can open to browse all APIs.

[2019-11-08 15:37] leslie-wang commented on #298
I mean this one
![image](https://user-images.githubusercontent.com/2538087/68488732-8ef39000-01fa-11ea-8c8d-a0496c8bf708.png)

[2019-11-12 13:30] #298 closed

[2020-01-16 08:05] #279 closed

[2020-01-16 08:05] #280 closed

[2020-01-20 10:10] iranzo commented on #297
Having search on static website requires some plugin. I do have that for my blog via a pelican extension that builds the 'search index' and is later accessed via AJAX. Alternativelly, we can consider readthedocs or some other service that takes care of that for us

[2020-01-20 10:16] rmohr commented on #297
Whatever is necessary works for me. It was just there before we switched to asciidoc.

[2020-01-22 14:44] slintes commented on #164
/remove-lifecycle stale

[2020-01-24 10:26] iranzo commented on #297
@rmohr can someone give more details on 'WHY' the switch to asciidoc?  I was doing some quicksearch and if we had the docs in markdown it should be pretty easy move them to mkdocs which takes care of website generation, branding via themes, search box, disquss integration, even analytics

[2020-01-27 07:27] iranzo commented on #297
I did a quick mockup with a 'non-verified' automated conversion to markdown here: https://kubevirt-user-guide-mockup.readthedocs.io/en/material/

This mockup is using 'readthedocs', but can be generated on travis via 'mkdocs' command and then pushed to github pages for hosting. Read the docs is also able to work out of a 'documentation' folder so even the docs could be in the same repo as the kube

[2020-02-17 18:16] ader1990 opened #309 "Cloudbase-Init as a provisioning agent for Windows VMs"
The startup scripts doc section does not contain information on how a Windows VM can leverage cloudbase-init (https://github.com/cloudbase/cloudbase-init) for achieving the same level of provisioning capabilities of the Linux machines.

Cloudbase-Init is cloud-init's counterpart for Windows, the defacto provisioner for Windows on OpenStack, CloudStack, OpenNebula, packet.net, with support for AWS,

[2020-02-20 18:02] #294 closed

[2020-03-02 11:43] iranzo commented on #297
Will be closed by #316

[2020-03-02 13:26] #297 closed

[2020-06-16 19:14] mazzystr opened #334 "Improve image-upload guide to include necessary step to avoid using --uploadproxy-url"
Improve image-upload guide to include necessary step to get rid of --uploadproxy-url

[code]

Ref: https://github.com/kubevirt/containerized-data-importer/blob/master/doc/cdi-config.md
Ref: https://kubevirt.io/user-guide/#/installation/image-upload
code: https://github.com/kubevirt/kubevirt/blame/736b4aec6b2e92f2ab09ccfa6c5eb79366e88e5a/pkg/virtctl/imageupload/imageupload.go#L536

[2020-06-17 17:23] mazzystr commented on #334
I was able to get this to work
[code]

Obtain a cert from a certificate authority with a CN of Kubernetes dns endpoint (ie k8s.octacube.co)

Manually
* `kubectl edit secret/cdi-uploadproxy-server-cert -n cdi`
* Adjust the value for tls.crt and tls.key
* `kubectl delete pod/cdi-uploadproxy-*`

More automated
`for i in tls.crt tls.key; do kubectl patch -n cdi secret/cdi-uploadproxy-server-cert -p '{

[2020-06-20 17:06] #164 closed

[2020-07-08 09:02] npu21 opened #339 "error in architecture.md"
[code]
which should be  virtual machine instance

[2020-07-08 09:07] npu21 opened #341 "https://github.com/kubevirt/user-guide/blob/master/CONTRIBUTING.md 404"

[2020-07-13 08:26] dhiller opened #342 ""Latest release notes" on v0.26.0"
[Latest Release Notes](https://kubevirt.io/user-guide/latest_release_notes/) is not up to date. Maybe rather link to the releases page?

[2020-08-01 18:26] dankenigsberg opened #343 "avoid broken links"
https://kubevirt.io/user-guide/#/templates/templates has two links. One is internal https://kubevirt.io/user-guide/#/installation/README ; the other is external https://docs.openshift.org/latest/dev_guide/templates.html . Both of them are broken.

We should continuously find and correct broken links in this repository. Internal ones can be avoided by a static analyzer; external ones require period

[2020-08-01 18:39] briantopping opened #345 "CSS is broken on iPad"
On an iPad Air form factor, the docs are unusable because there's no way to bring up the navigation bar. It's pretty easy to emulate this, just make the browser window smaller until the navbar disappears. There's no way to bring it back.

I assume the menu was once available from a hamburger menu or a hover zone, but I can't find the latter if it's there.

Please let me know if I can provide furth

[2020-08-02 16:49] codificat commented on #343
Related: kubevirt/kubevirt.github.io#576

[2020-08-11 18:49] mazzystr opened #348 "Fix KubeVirt architecture section"
/kind bug

The current [architecture](https://kubevirt.io/user-guide/architecture) page in user-guide does not actually describe the KubeVirt architecture.  Please rebuild this doc.

Update: Architecture doc is [here|https://github.com/kubevirt/kubevirt/blob/master/docs/architecture.md].  This story just becomes a matter of fixing the web page link which is significantly easier.

[2020-09-15 21:50] mazzystr opened #357 "Documentation confusion"
/kind bug

**What happened**:
I want to add a Getting Started page to `https://kubevirt.io/user-guide/#/`  The `user-guide` uri is served by an app called docsify.

This should be as simple as ...
1) Create the markdown page

2) Run a container with docsifyjs app to verify page content ... but this isn't documented.  There is no image in the [KubeVirt](https://hub.docker.com/u/kubevirt) user of do

[2020-09-24 17:48] mazzystr opened #359 "Migrate to a different markdown engine"
/kind enhancement

### The reasons for this are numerous...
* There is no local tooling for docsifyjs
* Links from kubevirt.io to user-guide get through CI and surprise users with errors
* Contributors have to have knowledge of three different markdowns (GitHub, Jekyll's kramdown, docsifyjs) when working with KubeVirt
* Current documentation hierarchy is not ideal and needs to be addressed
* Cross

[2020-09-24 17:51] mazzystr commented on #359
Screenshots of mockup are attached...
<img width="1344" alt="1" src="https://user-images.githubusercontent.com/2479463/94181090-d22b1180-fe53-11ea-9429-7e54dacbdcbd.png">
<img width="1172" alt="2" src="https://user-images.githubusercontent.com/2479463/94181105-d6efc580-fe53-11ea-9dba-86208c11afc1.png">

[2020-09-29 16:10] mazzystr commented on #359
Here is the current migration plan....

* [DONE] Create GitHub Issue
https://github.com/kubevirt/user-guide/issues/359
* [DONE] Create proof of concept.  Attach mockup screenshots to issue
* [DONE] Create Dockerfile to run mkdocs image
* * [?] tagging strategy
* [WIP] Update website Rakefile to check for user-guide 404 errors
* * This may not be possible.  I'm seeing http error code 0 to user-guid

[2020-10-05 21:11] mazzystr commented on #359
Tooling / Makefile is looking great!

<img width="1171" alt="Screen Shot 2020-10-05 at 2 09 22 PM" src="https://user-images.githubusercontent.com/2479463/95132448-a55ce100-0714-11eb-93a0-dfa25ebcc256.png">

[2020-10-05 21:13] mazzystr commented on #359
Make check_all in action!
[code]

[2020-10-08 00:07] mazzystr commented on #359
<img width="1247" alt="Screen Shot 2020-10-07 at 5 06 33 PM" src="https://user-images.githubusercontent.com/2479463/95400477-8cdcfa00-08bf-11eb-8deb-dd6652e44070.png">

There's still some work to be done here to munge the stderr output

[2020-10-08 00:44] mazzystr commented on #359
<img width="1247" alt="Screen Shot 2020-10-07 at 5 44 17 PM" src="https://user-images.githubusercontent.com/2479463/95402517-cb28e800-08c4-11eb-9c45-7ac85abb99a8.png">

[2020-10-08 17:54] mazzystr commented on #359
Hello everyone,As promised in the community meeting I have a proposal to reorganize user-guide so that it has a logical hierarchy.
The current hierarchy is as follows (I like yaml so it's going to be in yaml)....- user-guide:
  - Welcome
  - Architecture
  - Installing KubeVirt
    - Virtctl Client tool
    - Updates and Deletion
    - Enabling Live Migration
    - Enabling HugePage Support
    -

[2020-10-09 08:41] phoracek commented on #359
I like the split. Great idea with separate section with "Ecosystem components". My only worry is that from the ratio between the "Install" and "Running" section suggests that KubeVirt is difficult to deploy, which is not true. Could we split Install and Operations into two sections?

[2020-10-09 15:50] mazzystr commented on #359
@phoracek re split Install and Running ... Yes!  Excellent idea!  I'll update that comment.

[2020-10-22 17:46] mazzystr opened #362 "Migrate user-guide content to new logical hierarchy"
[issues/359](issues/359) has become too monolithic and tooling centric so we want to split off content hierarchy to this new issue.

- [x] Create content hierarchy migration plan
  - [x] https://docs.google.com/spreadsheets/d/18YcUiUWAV-seiaZmvaT8ubMYibqRUNjORLGyVAPkG2w/edit#gid=0
  - [x] Start community conversation
  - [ ] Community Input
  - [ ] Community sign-off
- [ ] Migrate pages from docsi

[2020-10-29 17:38] mazzystr commented on #359
re [issues/537 ](https://github.com/kubevirt/kubevirt.github.io/issues/537) ... Here is a preview on how things work.

Running `make` or `make help` will show menu options.  Notice that we can set an env var called `QUICK_LINK_CHECK_ENABLED`.
<img width="934" alt="Screen Shot 2020-10-29 at 10 32 47 AM" src="https://user-images.githubusercontent.com/2479463/97610634-5f710100-19d2-11eb-972b-e87c4093

[2020-10-30 19:06] briantopping commented on #345
/lifecycle frozen

[2020-11-02 20:01] mazzystr commented on #343
/remove-lifecycle stale

[2020-11-04 17:54] codificat commented on #342
Right... there is a script to keep it up to date but it seems it stopped running with the migration to markdown. Certainly needs fixing

/remove-lifecycle-stale

[2020-11-04 17:55] codificat commented on #342
/remove-lifecycle stale

[2020-11-05 00:44] brianredbeard opened #367 "Include documentation on uninstallation of Kubevirt"
As a user, I attempted to use Kubevirt/CNV.

After testing things out, I attempted to delete the various resources.

Unfortunately, this introduced a race condition due to resource dependencies around the `kubevirt-validator.kubevirt.io` webhook.

Now, I have resources across the cluster which cannot be deleted due to the missing webhook.

This was discovered because the `openshift-cnv` namespace

[2020-11-06 10:31] fabiand commented on #367
This looks like a bug related to a product, I'd kindly ask you to file the ticket at the vendor's bug tracker.

However, it also looks like this is an issues as also seen in #2605 and kubernetes/kubernetes#60807.
The more complex Kubernetes extensions and operators become, the more challenging it is to maintain old paterns - like removing a namespace in order to achieve an uninstallation.

We are

[2020-11-12 08:35] Donkey23 opened #369 "Read me"

[2020-11-12 08:36] #369 closed

[2020-11-12 08:36] Donkey23 opened #370 "Read me"

[2020-11-12 08:36] #370 closed

[2020-11-12 08:36] Donkey23 opened #371 "Read me"

[2020-11-12 09:12] #371 closed

[2020-11-18 17:44] mazzystr commented on #367
@brianredbeard  Can you try the procedure detailed [here](https://kubevirt.io/user-guide/#/installation/updating-and-deleting-installs)?

Let us know if it still fails.  We're going through a user-guide content revaluation as we speak.  We will note that the page needs refreshing if it has gone stale.

[2020-11-25 01:30] brianredbeard commented on #367
@mazzystr alas I cannot.  In the end it was causing instability issues with cluster upgrades (specifically around the webhook admission controller blocking upgrades) and a little over a week ago a week ago.  As there is now some content around uninstalling Kubevirt, I'll close out this issue out and in the event that subsequent problems occur it can be re-visited.

[2020-11-25 01:30] #367 closed

[2020-11-27 08:57] #339 closed

[2020-12-15 17:31] mazzystr opened #375 "Set up bot for automated merges"
Set up bot so that merges are automated from usual lgtm/approve comments from owners

[2021-01-14 03:20] mazzystr commented on #357
/remove-lifecycle stale

[2021-01-19 18:03] codificat commented on #357
/remove-lifecycle rotten

[2021-01-19 18:55] mazzystr commented on #348
/remove-lifecycle rotten
/reopen

[2021-01-19 19:01] mazzystr commented on #334
/remove-lifecycle rotten
/reopen

[2021-01-19 19:03] mazzystr commented on #269
/remove-lifecycle rotten
/reopen

[2021-01-19 19:03] mazzystr commented on #268
/remove-lifecycle rotten
/reopen

[2021-01-19 19:08] mazzystr commented on #269
/close

[2021-01-19 19:08] #269 closed

[2021-01-19 19:09] mazzystr commented on #259
/reopen

I'm reopening this issue.  We can get this feature with mkdocs.

[2021-01-19 19:13] mazzystr commented on #309
/remove-lifecycle rotten
/reopen

[2021-01-19 19:14] mazzystr commented on #341
/remove-lifecycle rotten
/reopen

[2021-01-19 20:07] mazzystr commented on #375
Not sure what I was thinking here but it is a duplicate to #359

I'm closing this issue

[2021-01-19 20:07] #375 closed

[2021-02-01 05:51] dankenigsberg commented on #343
/remove-lifecycle stale

[2021-02-10 19:17] mazzystr commented on #362
/remove-lifecycle stale.

On Thu, Oct 22, 2020, 10:46 AM Chris Callegari <notifications@github.com>
wrote:

[2021-02-17 18:57] #345 closed

[2021-02-17 18:57] #357 closed

[2021-02-17 18:57] #359 closed

[2021-02-17 18:57] #362 closed

[2021-02-18 19:21] #259 closed

[2021-02-18 19:34] mazzystr commented on #259
Thanks bot.... this is correctly closed.  We don't want user-guide versioning at this point in the KubeVirt project per discussion at Weekly Meeting.

[2021-02-25 12:08] ansijain opened #398 "Missing File graphical_and_console_access"
Point 2 : How to access a VirtualMachineInstance via console or vnc: Console Access  showing 404

[Console Access]  ../graphical_and_console_access

File Location : - https://github.com/kubevirt/user-guide/blob/master/docs/virtual_machines/virtual_machine_instances.md#additional-information

[2021-03-02 00:54] mazzystr commented on #342
Looks like we have it fixed.

@dhiller  Please confirm

[2021-03-02 02:32] mazzystr commented on #343
@dankenigsberg I'm pretty sure we have this link fixed.  We're getting clean `make check_links`

re link checking ... we just established manual link checking with the user-guide migration.  We're going to integrate into kubebot CI/CD shortly.  :)

[2021-03-02 03:30] ansijain commented on #398
Fixed in #399

[2021-03-02 03:30] #398 closed

[2021-03-02 09:17] dhiller commented on #342
@mazzystr I'd expect that page to be in sync with the [releases page](https://github.com/kubevirt/kubevirt/releases/) from GitHub somehow. As this page has 0.35 and the latest is 0.38.1it seems like it's not.

[2021-03-02 16:52] mazzystr commented on #342
Do you want me to run the script manually to catch the markdown up to
current?  After that we can verify the script will run as part of the
release script.

On Tue, Mar 2, 2021 at 1:17 AM Daniel Hiller <notifications@github.com>
wrote:

[2021-03-03 12:24] dhiller commented on #342
Maybe just integrate that script call into the make target that builds the site? This way it's handled automatically? I figure that is not done yet?

[2021-03-03 12:24] dhiller commented on #342
Also we can then just see whether it works in the PR.

[2021-03-05 03:43] mazzystr opened #405 "Automation needed to ensure ascii only characters in markdown"
HTMLproofer link checker cannot handle utf-8 characters.  The app ends up crashing.

We need automation to ensure no non-ascii (utf-8) characters make it in to the repo.

[2021-03-05 11:39] #342 closed

[2021-03-17 15:55] mazzystr opened #412 "Add page regarding snapshot feature"
Snapshot feature is missing from user-guide.

Please create a new page detailing how snapshots can be used in KubeVirt

Secondary goal: Create a blog post on kubevirt/kubevirt.github.io that will be published to https://kubevirt.io

[2021-03-18 17:31] mazzystr commented on #405
@sfxworks This one is for you

[2021-03-18 17:35] mazzystr opened #414 "Add "make check_spelling check_links" to CI"
See Prow settings in kubevirt/project-infra

Ask @dhiller if you have questions

[2021-03-18 17:37] mazzystr opened #415 "Add "make check_links" to CI"
See Prow settings in kubevirt/project-infra

Ask @dhiller if you have questions

[2021-03-22 17:28] mazzystr opened #416 "Add "make check_lint" to CI"
This target should be very close to https://github.com/kubevirt/kubevirt.github.io/issues/652

[2021-03-25 16:19] mazzystr commented on #343
@eifrach tagged

[2021-03-29 19:50] mazzystr opened #417 "GUIDELINES doc missing"
We need a page that documents contribution guidelines.

Some thoughts regarding GUIDELINES contnent per internal discussion...
[code]

[2021-03-30 00:09] mazzystr opened #418 "Remove stale branches"
Please remove the following stale branches

[code]

[2021-03-30 00:09] mazzystr commented on #418
@davidvossel Thank you for the help with the admin rights.

This is complete.

[2021-03-30 00:24] #418 closed

[2021-03-30 00:25] mazzystr opened #419 "Makefile needs to have img build consolidated into a single target"
Currently we have to deal with a container img for mkdocs, yaspeller, yaspeller, htmlprooder and casperjs.  Let's pack all these pieces into a single img.  This will make CI much easier to deal with.

The new target should be `make build_img`

[2021-03-30 00:28] mazzystr opened #420 "Prow job to periodically build userguide img"
Img building is getting streamlined via https://github.com/kubevirt/user-guide/issues/419

Once complete Prow should periodically build the userguide img and push to KubeVirt org in Docker Hub

This will solve the problem of having contributors build an img locally

[2021-03-30 10:05] eifrach commented on #268
@mazzystr  a license file is already exist
https://github.com/kubevirt/user-guide/blob/master/LICENSE

do you want to change it? or we can close this issue

[2021-03-30 15:38] dankenigsberg commented on #343
I was going over the links in https://kubevirt.io/user-guide/#/templates/templates ; at least one is still broken.

[2021-03-30 22:06] mazzystr commented on #268
Good find!  TBH, I didn't even look, Lol!

I'm good with closing!

/close

[2021-03-30 22:06] #268 closed

[2021-04-01 09:26] sradco commented on #343
https://kubevirt.io/user-guide/#developer -  Start contributing: Appendix/Contributing is broken
 Also here https://github.com/kubevirt/user-guide#developer

[2021-04-05 19:36] mazzystr commented on #343
@dankenigsberg `at least one` is vaguebooking.  ;)  `#` and `id=`'s are not valid user-guide urls.  Those come from the old docsify markdown engine.  The following is the only correct use of a `#`:
[code]
You may have to clear your browser cache to get to the new mkdocs javascript.

[2021-04-05 19:50] mazzystr commented on #343
@sradco re Appendix/Contributing ... That link was repaired on on Feb 23.  Blame is [here](https://github.com/kubevirt/user-guide/blame/master/docs/welcome.md#L20).  You may need to do a browser refresh.

re https://github.com/kubevirt/user-guide#developer... Sigh.  _Somebody_ (me) did a bad copy and paste job. ;)

[2021-04-05 20:48] #341 closed

[2021-04-06 05:01] dankenigsberg commented on #343
I just opened https://kubevirt.io/user-guide/#/templates/templates in a fresh incognito browser. It still has the broken Appendix/Contributing link.

@mazzystr please fix all links leading to 404. When you're done, let me know..

[2021-04-06 11:03] ansijain opened #423 "Add architecture diagram to user-guide"
Addition of https://github.com/kubevirt/kubevirt/blob/master/docs/architecture.md to user-guide[https://github.com/kubevirt/user-guide/blob/master/docs/architecture.md] for better understanding of kubevirt components

[2021-04-06 18:38] mazzystr opened #424 "Broken link in Welcome page"
Ah, I confirmed the 404 for the Appendix/Contributing link on the Welcome page ... finally!

See attached pic1
<img width="1107" alt="Screen Shot 2021-04-06 at 11 31 10 AM" src="https://user-images.githubusercontent.com/2479463/113760996-c99d7880-96cb-11eb-856b-36fe8d00eeaa.png">

See attached pic2
<img width="1673" alt="Screen Shot 2021-04-06 at 11 31 58 AM" src="https://user-images.githubusercon

[2021-04-06 18:55] mazzystr commented on #343
Issue re Welcome page broken link is [here](https://github.com/kubevirt/user-guide/issues/424)

[2021-04-06 19:17] mazzystr commented on #424
@dankenigsberg  Ah!  I found the root problem!
[code]
The filesystem softlink solved a 404 page not found when browsing to `https://kubevirt.io/user-guide` with the benefit of not having to maintain two seperate files for index.md and welcome.md.  Once index.md is rendered to index.html the Appendex/Contributing link is being flipped to an external relative link.

**Correct internal link in archit

[2021-04-07 04:01] dankenigsberg commented on #343
I'm not aware of any other broken link; I noticed none in https://kubevirt.io/user-guide/virtual_machines/templates . Are you aware of any other broken link? If not, you may close this issue.

[2021-04-07 13:43] mazzystr commented on #343
virtual_machines/templates page is clean to me and according to tools.  `Clean to me` means greping the file for links then manually curling them. Do what ya gotta go sometimes... ;-)

I will close this Issue then.  Thanks!

[2021-04-07 13:43] #343 closed

[2021-04-08 02:11] mazzystr commented on #423
@ansijain Would you mind if I closed this issue as duplicate of [issues/348](https://github.com/kubevirt/user-guide/issues/348)?

[2021-04-08 02:19] ansijain commented on #423
Yes.
Sorry I didn't noticed it exists

[2021-04-08 02:21] ansijain commented on #348
/assign

[2021-04-08 18:12] mazzystr opened #426 "Document MacOS use under KubeVirt"
Document MacOS use under KubeVirt.  ddesk.global team is willing to take this work.

[2021-04-09 16:55] mazzystr commented on #423
Cool, Thanks!  Duplicate label added.  Closing...

[2021-04-09 16:55] #423 closed

[2021-04-12 18:05] mazzystr opened #430 "Review use of offensive language"
Review repo for offensive langauge

 * https://github.com/github/renaming
[code]

[2021-04-12 21:03] #424 closed

[2021-04-14 12:20] ansijain opened #431 "More Information Required for hugepages.md"
More information could be added to https://github.com/kubevirt/user-guide/edit/master/docs/operations/hugepages.md
such as examples, limitations (If any)

[2021-04-14 18:49] mazzystr commented on #431
@ansijain my test box only has 16 GiB of memory.  Do you have a box with more to test and update the page?

[2021-04-15 00:04] mazzystr opened #432 "KubeVirt + nested virtualization + share vGPU to guest vm's"
* vGPU, Inconsistent assignment of vIOMMU in GCP
* Take a look at https://wiki.qemu.org/Features/VT-d
* https://cloud.google.com/compute/docs/instances/enable-nested-virtualization-vm-instances

See topic in Meeting Notes / https://groups.google.com/g/kubevirt-dev/c/ai6JHpuMxhk

[2021-04-19 12:20] eifrach opened #433 "link is broken to CONTRIBUTING"
In the following  page there is a link to "CONTRIBUTING"  that is not working

https://github.com/kubevirt/user-guide/blob/master/CONTRIBUTING.md

[2021-04-19 20:51] mazzystr commented on #334
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-19 21:01] mazzystr commented on #309
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-20 10:10] eifrach commented on #433
/kind bug

[2021-04-20 14:52] fabiand commented on #432
So, can this be demoed?

I wonder if this actually works.

[2021-04-20 15:10] mazzystr commented on #432
@fabiand possibly.  Some of my old windows workload was fudged with nested virt.

If you have ideas see https://github.com/kubevirt/community/issues/95

[2021-04-21 14:01] sfxworks commented on #405
FYI continuing work on this this week. Work has had me busy so I apologize.

[2021-04-23 10:52] ansijain commented on #431
@mazzystr I was expecting more details on this page Similar to https://kubevirt.io/2018/Kubevirt-v0.7.0.html blog

[2021-04-23 20:52] #334 closed

[2021-04-27 16:13] ansijain commented on #433
@eifrach seems that page is under construction.
contributing guide is redirecting to https://github.com/kubevirt/community/blob/master/contributors/contributing.md

[2021-04-28 17:34] mazzystr commented on #433
New issue opened in Community to do the real GUIDELINES work.  Link is [here](https://github.com/kubevirt/community/issues/103).

Since the link works correctly.  Let's close this issue.

[2021-04-29 09:25] eifrach commented on #433
closing this issue

[2021-04-29 09:25] #433 closed

[2021-05-04 22:30] unikzforce commented on #309
Anyone has any idea about this attractive feature?

[2021-05-04 22:37] mazzystr commented on #309
@unikzforce No one has taken this issue yet.  Are you interested?

[2021-05-04 23:39] unikzforce commented on #309
I'm currently learning things, If is see myself fit, I'll let you know ASAP

[2021-05-18 15:50] mazzystr commented on #419
Fixed by https://github.com/kubevirt/user-guide/pull/441
Fixed by https://github.com/kubevirt/project-infra/pull/1230

[2021-05-24 10:50] ansijain opened #443 "Add detail to enable feature-gate HostDisk"
Add Note to enable HostDisk feature gate
https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#hostdisk

[2021-05-24 10:50] ansijain commented on #443
/assign

[2021-05-25 17:55] mazzystr opened #446 "Procedure needed to enable a feature gate"
There are many mentions of enabling feature gates in user-guide.  Information on how to exactly enable a feature gate is hard to find.

Please create a simple procedure on enabling a feature gate.  This can be a new section in an existing page or a new page.

[2021-05-26 16:05] maiqueb commented on #446
I can tackle this.

/assign @maiqueb

[2021-05-27 17:32] #443 closed

[2021-05-31 13:50] ansijain commented on #348
@mazzystr I have been looking into this.
Do I need to add external link [here](https://github.com/kubevirt/user-guide/blob/master/docs/.pages) ?
or should I add https://github.com/kubevirt/kubevirt/blob/master/docs/architecture.md in user-guide repo?
Or any other way please guide

[2021-06-04 09:25] dhiller opened #450 "Automate release notes update when a new release comes out"
https://kubevirt.io/user-guide/latest_release_notes/ doesn't seem to get updated automatically on release, let's create a job that does this.

@mazzystr can you elaborate here on what you did the last time when you did this?

[2021-06-04 15:52] #419 closed

[2021-06-16 19:21] mazzystr commented on #414
/remove-lifecycle stale

On Wed, Jun 16, 2021 at 11:35 AM kubevirt-bot ***@***.***>
wrote:

[2021-06-16 19:21] mazzystr commented on #415
/remove-lifecycle stale

On Wed, Jun 16, 2021 at 11:35 AM kubevirt-bot ***@***.***>
wrote:

[2021-06-17 18:53] mazzystr opened #454 "Remove all links to Red Hat OpenShift"
I thought we did this already but sure enough I just found another one...

https://kubevirt.io/user-guide/virtual_machines/windows_virtio_drivers/ -> Guest Virtual Machine Device Configuration -> https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/virtualization_deployment_and_administration_guide/chap-guest_virtual_machine_device_configuration

[2021-07-07 20:33] #348 closed

[2021-07-09 12:44] rmohr opened #459 "Document how to use our customization patch interface on the KubeVirt CR in kubevirt"
https://github.com/kubevirt/kubevirt/pull/3612 is not documented. Or at least I can't find anything in the user-guide.

[2021-07-09 12:46] rmohr commented on #459
/assign @ashleyschuett

could you have a look?

[2021-07-12 16:40] mazzystr opened #460 "Spelling mistake"
https://github.com/kubevirt/user-guide/edit/master/docs/virtual_machines/host-devices.md#L98

sed -e 's/Staring/Starting/'

[2021-07-13 05:21] #460 closed

[2021-07-15 18:42] mazzystr commented on #412
/remove-lifecycle rotten

On Thu, Jul 15, 2021, 9:34 AM kubevirt-bot ***@***.***> wrote:

[2021-07-15 19:58] Bergiu opened #463 "NetworkPolicy PodSelector needs array instead of empty"
Related to this issue: https://github.com/kubernetes/website/issues/6100

On this page: https://kubevirt.io/user-guide/virtual_machines/networkpolicy/

The PodSelector can't be empty or it gives an error message. The empty values needs to be replaced with empty array.

[2021-07-16 11:24] dhiller commented on #450
Obsolete

/close

[2021-07-16 11:24] #450 closed

[2021-07-20 15:42] sfxworks commented on #405
Yikes! Sorry I've been working a ton on job related work. I'll see if I can't set aside time in the next 30d. Very sorry all!

[2021-07-22 07:06] #459 closed

[2021-07-28 15:02] cwilkers commented on #431
I may be able to help here. I'll add it to my list.

[2021-08-10 13:57] Bergiu commented on #463
i have opened a pull request but not sure if i've done everything correct now?

#472

[2021-08-10 14:46] #454 closed

[2021-08-11 10:37] #463 closed

[2021-08-14 10:19] unikzforce commented on #309
Hi guys, I have a suggestion, I wanted to share with you. Your opinion is needed. @ader1990 @mazzystr

I have a plan for this.

* before running the VM, we can check it with `virt-inspector`
* if it was windows ( one possible type of VM that don't have cloud-init functionality by default ) we can check if it has `CloudBase-Init` installed via libguestfs.  if it doesn't have it we can try to add th

[2021-08-15 19:31] unikzforce commented on #309
anyone?

[2021-08-19 19:24] #416 closed

[2021-08-22 11:32] borod108 opened #476 "Can't get it to run on local with: '/srv/mkdocs.yml': Permission denied"
Following the instructions from the readme, after I make build_img and then try to make run the container immidiatly exists with an error.
[code]

[2021-08-24 07:40] borod108 commented on #476
@mazzystr I am not sure who to ping about this, perhaps you know?

[2021-08-27 17:24] mazzystr opened #478 "Adjust main branch to use respectful language"
/kind enhancement

**What happened**:
Current standard of this repos main branch name `master` is not respectful to some contributors and/or users of KubeVirt

**What you expected to happen**:
Please adjust the main branch name to `main`.

**Anything else we need to know?**:
* Repo admin privledges will be necessary.  Please coordinate with @mazzystr
* Ensure repo config enforcement in [CI/Prow](h

[2021-08-28 04:12] ansijain commented on #431
/remove-lifecycle rotten

[2021-08-31 16:13] mazzystr commented on #476
Can you tell me about your environment?  Are you running this on Linux on metal or is it Linux on virtual machine on something?  Do you run with SELinux enabled?

[2021-08-31 16:21] cwilkers commented on #476
+1 on the SELINUX enabled, this message looks just like the ones I get if I don't set that environment variable.

    export SELINUX_ENABLED=True

and try the same make command again.

[2021-09-01 12:17] borod108 commented on #476
@mazzystr @cwilkers thank you, export SELINUX_ENABLED=True did it!
Even going back to the readme after knowing the solution I can say I would not have figured this out :/
I would consider adding something to the readme to make it clearer for people like me...

Thank you very much for your help!

[2021-09-01 17:47] cwilkers commented on #476
I did add this https://github.com/kubevirt/kubevirt.github.io/pull/789 so hopefully it doesn't bite as many people from here out.

[2021-09-02 06:39] borod108 commented on #476
@cwilkers awesome! thank you!

[2021-09-02 19:05] mazzystr opened #482 "Update the Try it Out! bullet point"
https://kubevirt.io/user-guide/#try-it-out

I'm not sure what the state of demo is.

Let's point this to the options we have listed on the front page.... katacoda and various providers.

[2021-09-05 19:57] #426 closed

[2021-09-06 12:31] ansijain commented on #482
/assign

[2021-09-06 13:21] #482 closed

[2021-09-07 16:40] mazzystr commented on #426
d.desk team has dropped off the radar.

MacOS cannot run Kubernetes natively due to being based on OpenBSD.  The
BSD team has chosen a different route than Linux containers.

I opt for closing this issue due to lack of enthusiasm in the community to
work on this.  I'm happy to reopen or work on this topic in a new issue in
the future.

/close

On Sun, Sep 5, 2021 at 12:57 PM kubevirt-bot ***@***.*

[2021-09-13 22:21] mazzystr commented on #476
@borod108 Are you cool with closing this issue?

[2021-09-14 05:35] borod108 commented on #476
sure, thank you!

[2021-09-14 05:35] #476 closed

[2021-09-15 07:53] dhiller commented on #414
/lifecycle frozen

[2021-09-15 07:53] dhiller commented on #415
/lifecycle frozen

[2021-09-18 16:59] #405 closed

[2021-09-20 21:18] mazzystr commented on #405
/remove-lifecycle rotten

On Sat, Sep 18, 2021 at 9:59 AM kubevirt-bot ***@***.***>
wrote:

[2021-09-25 08:36] unikzforce commented on #309
Okey I see, A kinda boycott is going on down here.

[2021-09-29 16:20] mazzystr commented on #309
@unikzforce @ader1990  I'm so sorry that this got by me.  Notifications just showed up in my email.

Yes, this feature is missing from user-guide.  It would be excellent to have it added.

If either of you would like to make the addition to the [Startup-Scripts](https://github.com/kubevirt/user-guide/edit/master/docs/virtual_machines/startup_scripts.md) page it would be most welcome

[2021-10-13 16:24] HSBawa opened #493 "Not able to delete : kubevirt.kubevirt.io/kubevirt-kubevirt-hyperconverged"
Need help:

I cleaned the openshift-cnv resources (including service) before deleting the hyper converged (miss on my side).

Now, I am not able to delete it and giving me error below. Force delete is failing too. What is the other way to force delete it?

`$oc -n  openshift-cnv delete **kubevirt.kubevirt.io/kubevirt-kubevirt-hyperconverged** --force
`
[code]

[2021-10-14 16:30] mazzystr opened #494 "UEFI boot reqs at least 256 Mb of memory"
Virtual machines that UEFI boot especially ARM virtual machines require at least 256 mb of memory in order to boot up.

This data bit needs to be documented and emphasized in user-guide.

Good places to put an annotation are ....
* [here](https://kubevirt.io/user-guide/operations/installation/#experimental-arm64-developer-builds)
* [here](https://kubevirt.io/user-guide/virtual_machines/virtual_har

[2021-10-25 04:17] ikandars opened #495 "Update docs ConfigMap for pvc-tolerate-less-space-up-to-percent"
kubevirt-config configmap is deprecated so for that, I think configuration related to `pvc-tolerate-less-space-up-to-percent` in this page https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#persistentvolumeclaim should be update too.

Previuesly it stated as:

It should something like:

[2021-11-01 21:16] #495 closed

[2021-11-08 13:07] cwilkers commented on #430
/remove-lifecycle rotten

[2021-11-08 13:07] cwilkers commented on #430
/reopen

[2021-12-06 02:34] HSBawa commented on #493
Any takers?

[2021-12-06 02:41] HSBawa commented on #493
Was able to delete it successfully. Closing.

[2021-12-06 02:41] #493 closed

[2021-12-12 20:41] #412 closed

[2022-01-17 08:22] ormergi opened #512 "Device Role Tagging VM spec snippet is wrong"
The VM spec on the example of [[1]](https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#device-role-tagging)
is wrong.
The `tag` should be part of each device object instead on the `domain` level.
It seems like interpretation problem of the markdown file since it looks right on the file itself [[2]](https://github.com/kubevirt/user-guide/blob/master/docs/virtual_machines/startup_scrip

[2022-01-24 18:34] #478 closed

[2022-01-25 05:34] #431 closed

[2022-01-28 14:14] jbpratt commented on #309
/remove-lifecycle stale

[2022-01-28 14:43] jbpratt opened #515 "Edit on GitHub button leads to 404"
Currently, clicking on any `edit on github` button within the user-guide will lead to a 404. This seems to be due to the `master -> main` branch rename. Replacing `master` in the URL with `main` redirects properly.

[code]

[2022-02-01 13:59] dominikholler opened #517 "DataVolume features is not required to be enabled explicitly as documented"
The sentence "In order to take advantage of the DataVolume volume source on a VM or VMI, the DataVolumes feature gate must be enabled in the kubevirt CR. CDI must also be installed." in
https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#enabling-datavolume-support
is outdated.

[2022-02-03 22:48] cbf123 opened #519 "Resources Requests and Limits seems to have the CPU request and limit backwards"
In user-guide/docs/virtual_machines/virtual_hardware.md under "Resources Requests and Limits" the example shown has a request of 2 CPUs and a limit of 1 CPU.  This seems backwards since in the normal case the limit would be higher than the request.

[2022-02-07 10:15] jbpratt commented on #415
@dhiller this can be closed now

[2022-02-10 09:24] dhiller commented on #415
/close

Thanks @jbpratt

[2022-02-10 09:24] #415 closed

[2022-02-12 06:13] tyleraharrison commented on #309
The referenced startup scripts page is a 404

[2022-03-03 17:29] cwilkers commented on #519
I believe this is fixed by https://github.com/kubevirt/user-guide/pull/520

[2022-03-03 17:29] #519 closed

[2022-03-13 18:11] #494 closed

[2022-03-23 16:36] cwilkers commented on #515
Clicking edit on GitHub now works, thanks!

[2022-03-23 16:36] #515 closed

[2022-03-25 18:25] #517 closed

[2022-04-14 15:57] cwilkers commented on #309
Does anybody wish to create the PR for this?

[2022-04-16 22:13] tyleraharrison commented on #309
Our team is working on a project right now where we are doing cloud-init on Windows through Harvester. If I get the time I can  do a PR

[2022-04-20 18:10] mazzystr commented on #512
/remove-lifecycle stale

On Sun, Apr 17, 2022 at 1:46 AM kubevirt-bot ***@***.***>
wrote:

[2022-04-24 10:15] isaacdorfman opened #537 "Add "virtctl ssh" to the documentation"
This should be placed inside the part of the docs about connecting to a vm:
https://kubevirt.io/user-guide/virtual_machines/accessing_virtual_machines/#ssh-access

[2022-06-02 23:46] oshi36 opened #543 "Need to update version for Kubevirt installation in Kubernetes"
In the user guide, the instructions to [install Kubevirt in Kubernetes](https://kubevirt.io/user-guide/operations/installation/#installing-kubevirt-on-kubernetes) specify an outdated version(v0.35.0) as it is not compatible with latest K8s releases.
The documentation should have the latest version of kubevirt (v0.53.1)

[2022-06-15 15:40] aburdenthehand commented on #543
@oshi36 Thanks for raising this issue, and apologies for not seeing it earlier. I've opened #546 to address this.

[2022-06-15 16:02] aburdenthehand opened #547 "Rename 'latest release notes' to something more accurate"
As discussed in #546, the current naming scheme could be improved.
My suggestion is the prosaic "KubeVirt release notes" but happy for alternatives.

This involves updating the following files within the kubevirt/user-guide repo:
 - docs/.pages
 - update_changelog.sh
 - latest_release_notes.md (within the file and filename)

Other things worth considering:
- Is latest_release_notes.md referenced i

[2022-06-17 07:28] oshi36 commented on #543
Thank you @aburdenthehand for addressing the issue.

[2022-06-17 15:36] ninjacoder80 opened #548 "Secure boot not documented"
There is no documentation for secure boot even though it was implemented in PR3529 in Kubevirt release v0.31.0

PR3529
https://github.com/kubevirt/kubevirt/pull/3529

Release notes
https://kubevirt.io/user-guide/latest_release_notes/#v0310

API reference
http://kubevirt.io/api-reference/v0.31.0/definitions.html

[2022-06-28 15:43] #543 closed

[2022-06-30 16:39] Zigko opened #555 "Windows 10 VM GPU problem"
Hi,

I have tried several windows (server 2012, server 2012 and now windows 10)
I'm trying to pass the GPU for my windows VM, and the firsts attempts the device manager wouldn't recognize the GPU host that is passing with vfio-pci driver.

Currently, I'm using a Windows 10 VM and I can the GPU on the device manager:
![image](https://user-images.githubusercontent.com/56871305/176730475-70acfa04-43b

[2022-06-30 17:24] vladikr commented on #555
Some Nvidia products are not supported to be used in virtual machines. Sometimes these are not supported specifically on KVM.
As you can see the issue you are experiencing is related to the nvidia driver itself.

The community versions of kubevirt/libvirt/qemu have a way of allowing turning the KVM signature off.
You may try adding the following to your VMI definition. However, this will not be su

[2022-07-01 15:19] Zigko commented on #555
I changed the VMI definition as you suggested and created a new VM, but I could get the GPU...

[2022-07-04 16:37] aburdenthehand opened #556 "Add Quickstart tutorials"
The user guide is lacking quickstart/tutorial material to help new users beyond initial installation.

After discussion with new users and the CNCF Technical Docs team, this kind of material would be critical in helping new users become accommodated with using KubeVirt, and would be a helpful jumping off point to learning core concepts.

As I understand it, we used to have [Katacoda material ](htt

[2022-07-20 14:54] cwilkers commented on #512
It looks like the referenced PR should have closed this issue. I will close it now, if that's in error, please feel free to reopen.

[2022-07-20 14:54] #512 closed

[2022-07-20 14:57] cwilkers commented on #537
Thank you for raising this issue, would you be interested in creating a PR in this repository to address it?

[2022-07-22 18:59] cwilkers commented on #556
If it makes sense, I can try to quickly get the intro material up and running on Killercoda. There are still usability issues for CDI and migration there due to the drastically limited resources compared to Katacoda.

[2022-07-22 21:43] cwilkers commented on #548
@jean-edouard @stu-gott Could you please take a look?

[2022-07-22 21:46] cwilkers commented on #547
Is this resolved by #546 or does there need to be automation added to keep things current?

[2022-07-22 21:47] jean-edouard commented on #548
Will do. There's not much to say about it but I'll give it a shot

[2022-08-03 14:22] #548 closed

[2022-08-03 16:47] cwilkers commented on #556
Also, I'm not sure why it was originally divided this way, but the quickstart tutorials are in the https://github.com/kubevirt/kubevirt.github.io side of the website. Currently there are tutorials for install, CDI, live migration, and upgrade of KubeVirt at https://kubevirt.io/labs/

[2022-08-23 10:10] #547 closed

[2022-08-26 14:09] cwilkers opened #576 "Broken link to export PVC instructions"
At https://kubevirt.io/user-guide/operations/memory_dump/#handle-the-memory-dump there are instructions linking to a non-existent user-guide page export_api on how to export PVCs. It's not obvious from searching whether this ability is documented in user-guide currently.

@aglitke ?

[2022-08-26 19:57] cwilkers commented on #576
And I just found the hanging PR that will fix this:
#549

[2022-09-09 08:16] jcanocan opened #582 "Gem package error: Unable to build user-guide"
Hi,

I have been trying to `make build_img` the user-guide project. Unfortunately, the gem package outputs  the following error:

[code]

I have tried to build the project in kubuntu 20.04 and RHEL 8.6. Both systems throw the same error.
Please, let me know if more details are required.
Thanks!

[2022-09-09 09:44] jcanocan commented on #582
I just found a [Dockerfile](https://github.com/cwilkers/project-infra/blob/b88b47b021a2ee31bd9eed1111b8d08555c3be0d/images/kubevirt-kubevirt.github.io/Dockerfile) fixing this issue. Very thanks to @cwilkers for fixing it. Also, I think it will be great to have this change in this repository as well. If you @cwilkers don't have time, I can do it for you. Of course I will reference you as the author

[2022-09-16 08:30] aburdenthehand commented on #556
@cwilkers Yeah, that is a bit interesting. And those labs aren't directly linked (as far as I can tell, anyway) from the user guide - you have to click on one of the quickstart links before you see they exist.

I'm going to say that's a different issue than the one presented here, however, and close this issue.

Thanks to @cwilkers and the team at Killercoda, we have KubeVirt scenarios again: http

[2022-09-16 08:30] #556 closed

[2022-09-16 10:09] aburdenthehand opened #587 "Link to the kubevirt labs from docs"
We have 4 labs (https://kubevirt.io/labs/) hosted on the website that provide useful context for new users and guide them through a few key scenarios, but they don't seem to be linked from the docs at all. They only seem visible if you start on the website and click the 'Labs' tab.

It would be great if we could additionally link to the labs from the docs, probably here: https://kubevirt.io/user-g

[2022-09-16 10:25] aburdenthehand opened #588 "Make quickstart guides more visible in the docs ToC"
We currently have 4 quickstart guides which are linked to from the website splash page and in the docs here: https://kubevirt.io/user-guide/#try-it-out
These are visible when you navigate directly to https://kubevirt.io/user-guide or from the splash page, but the 'Welcome' section of the Table of Contents, in which these are nested, collapses if you are viewing any other part of the docs. This mea

[2022-09-21 14:05] #576 closed

[2022-09-21 14:17] cwilkers commented on #582
I would like to create some issues around updating the container for this repo.

There are two workflows (at a high level) affected by this change. One is the documentation author's experience with testing their changes before creating PRs, and the other is the back-end Prow jobs that test proposed PRs and eventually take merged PRs and translate those into updates to the website,

Testing changes

[2022-09-29 09:51] aburdenthehand opened #593 "Add context that user needs to resize partitions if not using cloudinit or sysprep"
Currently CDI and KubeVirt resize the virtual disks but not partitions on those disks. This is because we don't know which partition to resize (in case there are multiple), and there is currently no mechanism for the user to specify.
As such, the recommendation is to manually resize partition/s based on the guest OS.

While this is predominately covered by using either cloudinit or sysprep to resi

[2022-09-29 10:33] aburdenthehand opened #594 "Web console wizard tables malformatted"
Looks like the two first tables in the web console have contents in the wrong cells:
https://kubevirt.io/user-guide/web_console/#virtual-machine-template-wizard-fields
https://kubevirt.io/user-guide/web_console/#virtual-machine-wizard-fields

To fix, I think we need to change the following:
1. 'PXE', 'URL', and 'Container' should all be in the 'Parameter' column of 'Provision Source', with associa

[2022-09-29 12:15] awels commented on #593
I just checked both locations and neither really mention resizing disks. This particular piece of information should go together with the resizing documentation. There are 2 places this can happen:
1. When you clone a disk with CDI, you can make the target larger than the source. This will increase the disk size compared to the source.
2. When you resize a PVC containing a disk. You need a CSI dri

[2022-09-29 21:35] nate-double-u opened #596 "Netlify: select a new build image"
Related: https://github.com/kubevirt/kubevirt.github.io/issues/873

Notice from Netlify

[2022-10-13 20:56] cwilkers opened #601 "Update VirtualMachine CR YAML to current versions across repo"
There are pages in user-guide still showing v1alpha for VM definitions and other custom resources that currently have a stable release version.

Care will need to be taken to avoid updating APIs that may still be in alpha or beta state.

[2022-10-18 04:41] KiranSatyaRaj commented on #588
I can work on this, but I'm unable to find the html for ToC @aburdenthehand, I need your help, I can take it from there onwards.

[2022-10-18 06:14] aburdenthehand commented on #588
Hi Kiran!
I believe the markdown ToC is `docs/.pages`
You'll also want to create the markdown page for the quickstarts in the same directory.
Thanks for helping out!

[2022-10-18 06:35] KiranSatyaRaj commented on #588
Got it!! Thank you so much, I will take it from here onwards.

[2022-10-19 14:44] KiranSatyaRaj commented on #588
Hey @aburdenthehand, these are the changes I made as you can see I added the quickstarts section, well it's not complete but I can do it, so can you assign this issue to me ?
[Screenshot from 2022-10-19 19-53-09.pdf](https://github.com/kubevirt/user-guide/files/9821457/Screenshot.from.2022-10-19.19-53-09.pdf)

[2022-10-19 14:58] KiranSatyaRaj commented on #588
/assign

[2022-10-19 15:07] KiranSatyaRaj commented on #588
Hey @aburdenthehand, I made the changes and checked it locally, should It view a try it out and labs section when it collapses?

[2022-10-19 17:20] KiranSatyaRaj commented on #588
I have a few more stuff to be cleared out, can we discuss them on slack, if that's okay?

[2022-10-19 18:32] aburdenthehand commented on #588
Yep, you can find me on Kubernetes slack.

[2022-10-20 09:16] KiranSatyaRaj commented on #588
#603
Hey @aburdenthehand, I made the pull request and referenced it here, kindly go through it and please suggest me what should be the introductory line for it and I'll include them.

[2022-10-20 09:56] KiranSatyaRaj commented on #587
/assign

[2022-10-21 11:03] KiranSatyaRaj commented on #588
#605 made the pull request with the desired changes, please go through it @aburdenthehand

[2022-10-21 12:25] KiranSatyaRaj commented on #587
I would like to start working on this issue @aburdenthehand , so should I create the lab section on the welcome page, if not please describe how it's visibility supposed to be?

[2022-10-21 12:43] aburdenthehand commented on #587
@KiranSatyaRaj Yes, I think that's a good approach. So because there's no base 'lab' url we can link to, we should list the four links. It will be very similar to the 'Try it out' section, with a list of the four labs.
ie
KubeVirt Labs

Use Kubevirt: https://kubevirt.io/labs/kubernetes/lab1.html
Experiment with KubeVirt: https://kubevirt.io/labs/kubernetes/lab2.html
etc

[2022-10-22 04:24] KiranSatyaRaj commented on #537
/assign

[2022-10-22 04:43] KiranSatyaRaj commented on #537
@cwilkers should ssh access be a part of ToC than only being visible when accessing VM section collapses?

[2022-10-26 13:28] cwilkers commented on #537
Accessing a VM in general should be in the ToC, maybe not each individual method. (I write this not having first checked if it is already there...)

[2022-10-26 19:50] #601 closed

[2022-10-27 14:51] cwilkers commented on #537
I just checked the current state, and I like how it is referenced in the ToC and in the accessing virtual machines page. I agree, this issue is completed.

[2022-10-27 14:51] #537 closed

[2022-11-04 01:53] #587 closed

[2022-11-04 13:41] #588 closed

[2022-11-11 11:32] dhiller opened #623 "user-guide postsubmit failed"
Seems there's something wrong with the python version in the build image:

[code]
([source](https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/push-user-guide-main-build-and-push-to-gh-pages/1590988274984292352))

[2022-11-11 11:34] dhiller commented on #623
/cc @cwilkers

[2022-11-11 12:55] aburdenthehand commented on #596
The build image has been updated for the user-guide and after a couple of necessary changes we have confirmed that the new image builds successfully.

[2022-11-11 12:55] #596 closed

[2022-11-12 00:15] cwilkers commented on #623
Yeah, we had to update to the latest netlify container to keep the site building. I'll fast track the work I did in kubevirt.github.io to try to get user-guide's container image updated.

[2022-11-17 17:06] #623 closed

[2022-11-25 09:24] fabiand commented on #309
/reopen

[2022-11-25 09:27] fabiand commented on #309
@ader1990 I'm catching this a little late, but this is pretty awesome work over at the link you provided.

@ader1990 can you tell if the cloudinit you have provided in the initial comment is actually working with windows?

[2022-11-28 16:41] #555 closed

[2022-11-30 03:37] cwilkers commented on #582
@jcanocan Would you mind reviewing this again? I believe with the new container image and some quick updates about a month ago, we should be working again.